node_modules
npm-debug.log
.git
.gitignore
README.md
.env.test
Dockerfile
.dockerignore
coverage
.vscode
android
.expo
export
helpers
scripts
test.html
replaceProjectName.js
postgresql-database-baulogpro.session.sql